<h1>นายวรธน สาดแสงจันทร์ 6110401641</h1>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a = 1

In [4]:
a

1

In [5]:
s = pd.Series([1,2,3,4], index=['one','two','three','four'])

In [6]:
s

one      1
two      2
three    3
four     4
dtype: int64

In [7]:
s[0:2]

one    1
two    2
dtype: int64

In [8]:
len(s)

4

In [9]:
s.count()

4

In [10]:
s.size

4

In [11]:
s.one

1

In [12]:
s + 5

one      6
two      7
three    8
four     9
dtype: int64

In [13]:
s.mean()

2.5

In [14]:
s-5

one     -4
two     -3
three   -2
four    -1
dtype: int64

In [15]:
s.mean()

2.5

In [16]:
s**2

one       1
two       4
three     9
four     16
dtype: int64

<h1>This</h1>

In [17]:
table = pd.read_csv(r'C:\Users\PC306\Desktop\players.csv')